@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0; }

.logotipo {
  margin-left: 50px;
  width: 50px; }

body {
  height: 500px;
  background-image: url(/img/fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed; }

.bg-boton {
  background-color: #2dd483;
  border-radius: 6px; }
  .bg-boton:hover {
    background-color: #78dcab;
    cursor: pointer; }

article {
  padding-top: 10px; }
  article .imagenes {
    margin: 5px;
    border: solid #8e8e8e 3px;
    transition: all .5s; }
  article:hover .imagenes {
    transform: scale(1.05); }

h1 {
  padding-top: 15px;
  font-size: "Roboto", sans-serif;
  font-family: 2em;
  font-weight: 500;
  font-weight: 400; }

h2 {
  padding-top: 15px;
  font-size: "Roboto", sans-serif;
  font-family: 1.3em;
  font-weight: 500; }

p {
  padding-top: 10px 30px;
  font-size: "Nunito Sans", sans-serif;
  font-family: 1em;
  font-weight: 500;
  color: #242424; }

.facebook-icon {
  background-image: url(../img/facebook.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style: none;
  margin-right: 6px; }

.twitter-icon {
  background-image: url(../img/twitter.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style: none;
  margin-right: 6px; }

.instagram-icon {
  background-image: url(../img/instagram.svg);
  width: 30px;
  height: 30px;
  background-size: 100%;
  list-style: none;
  margin-right: 6px; }

.rrss {
  display: flex;
  justify-content: center; }

.text_order {
  color: #242424;
  text-justify: center;
  text-align: center;
  text-decoration: none; }

.bg-footer {
  background-color: #61615e; }

.boton {
  border-style: solid black 3px; }

.botonera {
  background-color: #c0c0c0be;
  align-items: center; }
