*{
	padding: 0;
	margin: 0;
}

.logotipo{
    margin-left: 50px;
    width: 50px;
}

body {
    height: 500px;
    background-image: url(/img/fondo.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
}

// extend

.bg-boton{
    background-color: $botones;
    border-radius: 6px;
    &:hover{
        background-color: $botones_hover;
        cursor: pointer;
    }
}

article{
    padding-top: 10px;
    .imagenes{
        margin: 5px;
        border: solid rgb(142, 142, 142) 3px;
        transition: all .5s;
    }
    &:hover .imagenes{
        transform: scale(1.05);
    }
}

//map y mixin

$font-weights: (
    "regular": 400, 
    "medium": 500, 
    "bold": 700
);


@mixin texto($padding, $size, $font){
    padding-top: $padding;
    font-size: $font;
    font-family: $size;
    font-weight: map-get($map: $font-weights, $key: medium)
}

h1{
    @include texto(15px, $textLg, $mainFont)
    font-weight: map-get($map: $font-weights, $key: regular)
}

h2{
    @include texto(15px, $textMd, $mainFont)
}

p{
    @include texto(10px 30px, $textSm, $secondaryFont)
	color:$black;
}


//bucle

@each $icono in facebook, twitter, instagram{
    .#{$icono}-icon{
    background-image:url(../img/#{$icono}.svg);
    width: 30px;
    height: 30px;
    background-size:100%;
    list-style: none;
    margin-right: 6px;
    }
}



.rrss{
    display: flex;
    justify-content: center;
}

.text_order{
    color:$black;
    text-justify: center;
    text-align: center;
    text-decoration: none;
}


.bg-footer{
    background-color: rgb(97, 97, 94);
}

.boton{
    border-style: solid black 3px;
}

.gale{
    margin-top: 20px;
    transition: all .5s;
    &:hover .gale{
        transform: scale(1.1);
    }
}