// variables de colores

$mainColor: rgba(192, 192, 193, 0.961);
$secondaryColor: rgba(104, 200, 255, 0.879);
$botones: rgb(45, 212, 131);
$botones_hover: rgb(120, 220, 171);
$grey:#c0c0c0be;
$white:#f0efef;
$black:#242424;
